@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overscroll-behavior-y: none;
    overflow-x: hidden;
    height: 100%;
  }
  
  #progress-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 0;
    background: transparent;
  }
  